<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanzu.module.member.dal.mysql.orderinfo.OrderInfoMapper">
    <update id="updateStatusByIds">
        update member_order_info
        set status=#{status}
        where order_id in (${orderIds})
          and deleted = 0
    </update>

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <select id="getByRoomIds" resultType="com.yanzu.module.member.dal.dataobject.orderinfo.OrderInfoDO">
        select *
        from member_order_info
        where deleted = 0
        and status in (0,1)
        and end_time>now()
        and room_id in
        <foreach collection="roomIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by order_id asc
    </select>
    <select id="getByUserAndStatus" resultType="com.yanzu.module.member.dal.dataobject.orderinfo.OrderInfoDO">
        select *
        from member_order_info
        where deleted = 0
          and user_id = #{userId}
          and status = #{status}

    </select>
    <select id="getClearPage" resultType="com.yanzu.module.member.controller.app.clear.vo.AppClearPageRespVO">
        select
        c.clear_id,
        o.order_id,
        o.order_no,
        o.store_id,
        s.store_name,
        o.room_id,
        r.room_name,
        r.type roomType,
        o.end_time orderEndTime,
        c.status,
        c.start_time,
        c.finish_time
        from member_clear_info c
        left join member_store_info s ON s.store_id = c.store_id
        left join member_order_info o ON c.order_id = o.order_id
        left join member_room_info r ON r.room_id = o.room_id
        where o.deleted = 0 and o.status in(1,2)
        <if test="null!=storeId and storeId!=''">
            and o.store_id=#{storeId}
        </if>
        <if test="null!=userId and userId!=''">
            and c.user_id=#{userId}
        </if>
        <if test="null!=startTime and null!=endTime">
            and to_days(o.create_time) >= to_days(#{startTime})
            and to_days(o.create_time) &lt;= to_days(#{endTime})
        </if>
        <if test="null!=status">
            and c.status=#{status}
        </if>
        order by create_time desc
    </select>
    <select id="getByRoomId" resultType="com.yanzu.module.member.dal.dataobject.orderinfo.OrderInfoDO">
        select *
        from member_order_info
        where deleted = 0
        and room_id = #{roomId}
        and status in (0, 1)
        and end_time>now()
        <if test="null!=ignoreOrderId and ignoreOrderId!=''">
            and order_id!=#{ignoreOrderId}
        </if>
    </select>
    <select id="getOrderPage" resultType="com.yanzu.module.member.controller.app.order.vo.OrderListRespVO">
        select o.order_id
        , o.order_no
        , s.store_id
        , s.store_name
        , r.room_id
        , r.price
        , r.type roomType
        , r.room_name
        , o.user_id
        , m.nickname
        , o.start_time as startTime
        , o.end_time
        , ROUND(TIMESTAMPDIFF(SECOND, o.start_time,o.end_time) / 3600, 1) AS orderHour
        , o.pay_price
        , o.refund_price
        , o.status
        , o.create_time as createTime
        from member_order_info o
        left join member_store_info s ON o.store_id = s.store_id
        left join member_room_info r ON r.room_id = o.room_id
        left join member_user m ON m.id = o.user_id
        where o.deleted = 0
        <if test="null==storeIds or storeIds==''">
            and o.user_id=#{userId}
        </if>
        <if test="null!=storeIds and storeIds!=''">
            and o.store_id in (${storeIds})
        </if>
        <if test="null!=status">
            and o.status=#{status}
        </if>
        <if test="null!=orderColumn and orderColumn!=''">
            order by ${orderColumn} desc
        </if>
        <if test="null==orderColumn or orderColumn==''">
            order by o.order_id desc
        </if>


    </select>
    <select id="getOrderInfo" resultType="com.yanzu.module.member.controller.app.order.vo.OrderInfoAppRespVO">
        select o.order_id
        , o.order_no
        , r.room_name
        , r.price roomPrice
        , o.room_id
        , o.store_id
        , r.type roomType
        , s.store_name
        , s.lat
        , s.lon
        , s.address
        , o.user_id
        , o.start_time
        , o.end_time
        , ROUND(TIMESTAMPDIFF(SECOND, o.start_time,o.end_time) / 3600, 1) AS orderHour
        , o.price
        , o.pay_price
        , o.refund_price
        , o.pay_type
        , s.wifi_info
        , s.kefu_phone
        , c.coupon_name
        , o.status
        , o.create_time
        from member_order_info o
        left join member_store_info s ON o.store_id = s.store_id
        left join member_room_info r ON r.room_id = o.room_id
        left join member_user m ON m.id = o.user_id
        left join member_coupon_info c ON o.coupon_id = c.coupon_id
        where o.deleted = 0
        <if test="null != orderId">
            and o.order_id = #{orderId}
        </if>
        <if test="null == orderId">
            and o.user_id=#{userId}
            and o.end_time>now()
            and o.status in (0,1)
            order by o.end_time asc
            limit 1
        </if>
    </select>
    <select id="getBusinessStatistics"
            resultType="com.yanzu.module.member.controller.app.chart.vo.AppBusinessStatisticsRespVO">
        select ifnull(sum(pay_price), 0) money, count(1) orderCount, count(distinct user_id) memberCount
        from member_order_info
        where deleted = 0
        and status in (0, 1, 2)
        <if test="null!=startTime and null!=endTime">
            and to_days(create_time) >= to_days(#{startTime})
            and to_days(create_time) &lt;= to_days(#{endTime})
        </if>
        <if test="null!=storeId and storeId!=''">
            and store_id=#{storeId}
        </if>
        <if test="null==storeId or storeId==''">
            and store_id in (select store_id from member_store_user where deleted = 0 and user_id = #{userId})
        </if>
    </select>
    <select id="getRevenueStatistics" resultType="com.yanzu.framework.common.core.KeyValue">
        select DATE_FORMAT(create_time, '%Y-%m-%d') `key`,ifnull(sum(pay_price),0) `value`
        from member_order_info
        where deleted = 0
        and status in (0, 1, 2)
        <if test="null!=startTime and null!=endTime">
            and to_days(create_time) >= to_days(#{startTime})
            and to_days(create_time) &lt;= to_days(#{endTime})
        </if>
        <if test="null!=storeId and storeId!=''">
            and store_id=#{storeId}
        </if>
        <if test="null==storeId or storeId==''">
            and store_id in (select store_id from member_store_user where deleted = 0 and user_id = #{userId})
        </if>
        group by DATE_FORMAT(create_time, '%Y-%m-%d')
        order by create_time asc

    </select>
    <select id="getOrderStatistics" resultType="com.yanzu.framework.common.core.KeyValue">
        select d.label as `key`,count(1) `value`
        from member_order_info o
        left join system_dict_data d on d.value=o.pay_type and d.dict_type='member_order_pay_type'
        where o.deleted = 0
        and o.status in (0, 1, 2)
        <if test="null!=startTime and null!=endTime">
            and to_days(o.create_time) >= to_days(#{startTime})
            and to_days(o.create_time) &lt;= to_days(#{endTime})
        </if>
        <if test="null!=storeId and storeId!=''">
            and o.store_id=#{storeId}
        </if>
        <if test="null==storeId or storeId==''">
            and o.store_id in (select store_id from member_store_user where deleted = 0 and user_id = #{userId})
        </if>
        group by o.pay_type
    </select>
    <select id="getMemberStatistics" resultType="com.yanzu.framework.common.core.KeyValue">
        select DATE_FORMAT(create_time, '%Y-%m-%d') `key`,count(distinct user_id) `value`
        from member_order_info
        where deleted = 0
        and status in (0, 1, 2)
        <if test="null!=startTime and null!=endTime">
            and to_days(create_time) >= to_days(#{startTime})
            and to_days(create_time) &lt;= to_days(#{endTime})
        </if>
        <if test="null!=storeId and storeId!=''">
            and store_id=#{storeId}
        </if>
        <if test="null==storeId or storeId==''">
            and store_id in (select store_id from member_store_user where deleted = 0 and user_id = #{userId})
        </if>
        group by DATE_FORMAT(create_time, '%Y-%m-%d')
        order by create_time asc

    </select>
    <select id="getNewMemberStatistics" resultType="com.yanzu.framework.common.core.KeyValue">


    </select>
    <select id="getRoomUseStatistics" resultType="com.yanzu.framework.common.core.KeyValue">
        select DATE_FORMAT(create_time, '%Y-%m-%d') `key`,count(distinct room_id) `value`
        from member_order_info
        where deleted = 0
        and status in (1, 2)
        <if test="null!=startTime and null!=endTime">
            and to_days(create_time) >= to_days(#{startTime})
            and to_days(create_time) &lt;= to_days(#{endTime})
        </if>
        <if test="null!=storeId and storeId!=''">
            and store_id=#{storeId}
        </if>
        <if test="null==storeId or storeId==''">
            and store_id in (select store_id from member_store_user where deleted = 0 and user_id = #{userId})
        </if>
        group by DATE_FORMAT(create_time, '%Y-%m-%d')
        order by create_time asc

    </select>
    <select id="getRoomUseHourStatistics" resultType="com.yanzu.framework.common.core.KeyValue">
        select DATE_FORMAT(create_time, '%Y-%m-%d') `key`,sum(TIMESTAMPDIFF(MINUTE,start_time,end_time))/60.0 `value`
        from member_order_info
        where deleted = 0
        and status in ( 1, 2)
        <if test="null!=startTime and null!=endTime">
            and to_days(create_time) >= to_days(#{startTime})
            and to_days(create_time) &lt;= to_days(#{endTime})
        </if>
        <if test="null!=storeId and storeId!=''">
            and store_id=#{storeId}
        </if>
        <if test="null==storeId or storeId==''">
            and store_id in (select store_id from member_store_user where deleted = 0 and user_id = #{userId})
        </if>
        group by DATE_FORMAT(create_time, '%Y-%m-%d')
        order by create_time asc

    </select>
    <select id="getByStatus" resultType="com.yanzu.module.member.dal.dataobject.orderinfo.OrderInfoDO">
        select order_id,
               order_no,
               store_id,
               room_id,
               user_id,
               start_time,
               end_time,
               status
        from member_order_info o
        where o.deleted = 0
          and o.status = #{status}

    </select>
    <select id="countByRoomIdGtNow" resultType="java.lang.Integer">
        select count(1)
        from member_order_info
        where deleted = 0
          and room_id = #{roomId}
          and status = 0
          and start_time > now()
    </select>
</mapper>
